appnope==0.1.0
atari-py==0.1.1
backports.shutil-get-terminal-size==1.0.0
certifi==2017.11.5
chardet==3.0.4
decorator==4.1.2
enum34==1.1.6
gym==0.9.4
idna==2.6
ipdb==0.10.3
ipython==5.5.0
ipython-genutils==0.2.0
numpy==1.13.3
olefile==0.44
pathlib2==2.3.0
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.3.0
prompt-toolkit==1.0.15
ptyprocess==0.5.2
pyglet==1.2.4
Pygments==2.2.0
PyOpenGL==3.1.0
requests==2.18.4
scandir==1.6
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
urllib3==1.22
wcwidth==0.1.7
